.cdtsm-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
    height: 65px;
    /* position: sticky;
    top: 0; */
}

.cdt {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
    
}

.sm {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;

}