/* browser Style Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* main {
  display: flex;
  justify-content: space-between;
    background: rgb(0,36,19);
    background: linear-gradient(90deg, rgba(0,36,19,1) 0%, rgba(146,215,122,1) 61%, rgba(0,241,255,1) 97%);
} */


